<br>
<div class="card">
    <h2>Child Component</h2>

    <!-- <p>Message from parent : {{parentData}}</p>
<input type="text" [(ngModel)]="cdata" >
<button (click)="reply()">Reply</button> -->
    <div>
        <label>Fullname:{{nameData}}</label><br>
        <label>Enrolled:{{enrollData}}</label><br>
        <label>Gender:{{genderData}}</label><br>
    </div>
    <br>
    <div>
        <button class="button" (click)="approve()">Approve</button>
        <button class="but" (click)="decline()">Decline</button>
    </div>
    <div>
        <!-- <h2>Displaying of Data</h2>
    <li *ngFor="let person of people">{{person.name}}</li> -->
        <h2>List of Approved</h2>
        <ul>
            <li *ngFor="let student of apStudent">{{student}}</li>
        </ul>
    </div>
</div>

<br><br>